.dispo {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Ensures the container takes the full viewport height */
}

.head-side {
    width: 20%;
    background-color: #e6effb; /* Matching the light blue background in your design */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text inside the header */
    width: 100%;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: bold;
}

header h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Makes buttons take full width of the container */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text horizontally */
    text-align: center; /* Center the text inside the button */
}

button.lot-status {
    background-color: #365486;
    color: white;
}

button.trigger-lot {
    background-color: #eef5ff;
    color: black;
}

.main-container {
    width: 80%;
    padding: 20px;
    background-color: #ffffff; /* White background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
    margin: 20px; /* Adding some margin around the container */
}

.search-bar {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 10px;
    background-color: #365486;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text horizontally */
    text-align: center; /* Center the text inside the button */
}

.results {
    width: 100%;
    margin-top: 20px;
}
